@model IEnumerable<BlogSite.Models.Tag>

<div class="sidebox widget">
    <h3 class="widget-title section-title">Tags</h3>
    <ul class="tag-list">
       @foreach (BlogSite.Models.Tag tag in Model)
       {
        <li><a href="#">@tag.Name (@tag.Journals.Count)</a></li>
       }
     
    </ul>
    <!-- /.tag-list -->

</div>
